@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Coiny&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fcee21;
    color: #333;
    width: 900px;
    height: auto;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    margin: auto;
}

nav h1, 
footer h1 {
    font-family: 'coiny', cursive;
}

nav h1 {
    margin-right: auto ;
}

nav a,
footer a {
    margin-left: 30px;
    color: #7a7a7a;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: auto;
}

p {
    border: none;
}

nav a {
    text-transform: capitalize;
}

header h1 {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}

.grande {
    font-size: 70px;
    font-family: 'coiny', cursive;
}

h1, h2, h3, h4, .item {
    color: black;
}

h2, h3 {
    font-size: 20px;
    background-color: #fcee21;
    display: inline;
}

 #contacto h4 {
    width: 70%;
    margin: 0;
    font-size: 26px;
    text-align: center;
    color: white;
    background-color: black;
}
.item {
    font-size: 20px;
    font-weight: bold;
    background-color: #fcee21;
    text-align: center;
    width: 70%;
}

aside img {
    height: auto;
    width: 30%;
    display: flex;
    justify-content: center;
}

.titulo {
    font-size: 30px;
    margin: auto;
    padding: 10px;
}

header {
    background-color: white;
    width: auto;
    height: auto;
}

header.encolumnar,
aside.encolumnar {
    border-bottom: none;
}

header img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
}

footer,
main,
header,
aside {
    font-size: 20px;
    width: 100%;
    background-color: white;
}

footer {
    height: 100px;
    padding: 10px;
    background-color: #fcee21;
    display: flex;
    align-items: center;
}

#imagen {
    width: 80%;
    display: block;
    margin: auto;
}

footer h1 {
    font-size: 33px;
}

span {
    color:red
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}



input,
textarea {
    width: 100%;
    margin-top: 10px;
}

form { 
    margin: auto;
}

.encolumnar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top: 40px;
    padding: 20px;
    border-bottom: 0.5px solid gray;
    
}

.boton {
    padding: 0;
    border-bottom: none;
}

.boton input {
    border: none;
    width: auto;
    background-color: black;
    color: white;
    font-weight: bold;
}

ol li {
    margin-bottom: 6%;
}

section {
    width: 45%;
}

main {
    font-size: 18px;
}